.message{
    width: 420px;
    height: 100px;
    padding: 0 170px 0 20px ;
    background: white;
    border-radius: 20px;
    margin: 20px;
    background: var(--color-background);
    box-shadow: inset -2px -2px 4px var(--color-table-variant);
    transition: all 500ms ease;
}
.message:hover{
    box-shadow: inset -2px -2px 4px var(--color-table);
}
.yellow{
    border-top: 20px solid var(--color-warning);
}
.red{
    border-top: 20px solid var(--color-danger);
}
.green{
    border-top: 20px solid var(--color-sucess);
}

form{
    display: flex;
    align-items: center;
}

.inp-container{
    margin: 1.25rem auto;
}

.inp{
    position: relative;
    width: 100%;
    border-radius: 0.2rem;
    overflow: hidden;
}

.inp-label{
    position: absolute;
    top: 0;
    left: 12px;
    transform-origin: 0 0;
    color: var(--color-letter);
    opacity: .7;
    transform: translate3d(0, 0, 0);
    transition: all .2s ease;
    pointer-events: none;
}

.inp-label-P{
    top: 14px;
    left: -358px;
}

.inp-label-PL{
    top: 21px;
    left: -373px;
}

.inp-label b{
    font-size: 7px;
    color: transparent;
}

.inp-focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

.inp-input{
    appearance: none;
    width: 100%;
    border: 0;
    padding: 19px 12px 3px 12px;
    border-radius: 2px;
    background: rgba(0, 0, 0, .01);
    box-shadow: var(--box-shadow);
    transition: all 500ms ease;
    color: var(--color-letter);
}
.inp-input:hover{
    background: rgba(0, 0, 0 , .04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .5);
}

.inp-input:not(:placeholder-shown) + .inp-label{
    color: var(--color-letter);
    transform: translate3d(0, -17px, 0) scale(.75);
}
.inp-input:focus{
    outline: none;
    background: rgba(0, 0, 0 , .09);
    box-shadow: inset 0 -2px 0 var(--color-primary);
}

.inp-input:focus + .inp-label{
    color: var(--color-primary);
    transform: translate3d(0, -17px, 0) scale(.75);
}

.inp-input:focus + .inp-label + .inp-focus{
    transform: scaleX(1);
    transition: all 500ms ease;
}

.inp-input-L{
    width: 96%;
}

.inp-error{
    display: block;
    text-align: right;
    font-size: 0.8rem;
    color: var(--color-danger);
}

.submit{
    color: var(--color-white);
    background: var(--color-primary);
    border: none;
    border-radius: 0 5px 5px 0;
    margin-bottom: 19px;
    padding: 5px;
    cursor: pointer;
    transition: all 500ms ease;
}
.submit:hover{
    background: var(--color-primary-variant);
}

.not-submit{
    background: var(--color-primary-variant);
    cursor: default;
}